.container{
    background-color: wheat;
    height: fit-content;
    font-family: poppins;
    border: 2px solid black;
    margin: 30px auto;
    padding: 20px;
    border-radius: 45px;
    text-decoration: none;
    
}

.container::before{
    color: white;
    box-shadow: 2px 4px 3px ;
    background-color: grey;
}